.logIN{
    margin: 0;
    font-family: 'Manrope', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    background: linear-gradient(to bottom, #2d2c2c 0%, #000000 100%);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.total-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.logo-header {
    text-align: center;
    margin: 0;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

#loginHeader {
    font-weight: 1000;
    font-size: 35px;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: 500;
}

.login-form input {
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #121212;
    color: #fff;
    border: 1px solid #727272;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #1db954;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #1ed760;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #b3b3b3;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.create-account-section {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #B3B3B3; 
}

.create-account {
    color: #1ed760; 
    font-weight: bold;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}